<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>IngresoUsuario</servlet-name>
        <servlet-class>co.edu.udea.facturacion.servlet.IngresoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Visualizacion</servlet-name>
        <servlet-class>co.edu.udea.facturacion.servlet.Visualizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Acciones</servlet-name>
        <servlet-class>co.edu.udea.facturacion.servlet.Acciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresoConsumos</servlet-name>
        <servlet-class>co.edu.udea.facturacion.servlet.IngresoConsumos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroConsumos</servlet-name>
        <servlet-class>co.edu.udea.facturacion.servlet.RegistroConsumos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarDetalleConsumo</servlet-name>
        <servlet-class>co.edu.udea.facturacion.servlet.ActualizarDetalleConsumo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroCuentaCobro</servlet-name>
        <servlet-class>co.edu.udea.facturacion.servlet.RegistroCuentaCobro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarDatosFacturacion</servlet-name>
        <servlet-class>co.edu.udea.facturacion.servlet.GuardarDatosFacturacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarDatosSoporte</servlet-name>
        <servlet-class>co.edu.udea.facturacion.servlet.GuardarDatosSoporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistroAdministrativo</servlet-name>
        <servlet-class>co.edu.udea.facturacion.servlet.RegistroAdministrativo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngresoUsuario</servlet-name>
        <url-pattern>/IngresoUsuario</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Visualizacion</servlet-name>
        <url-pattern>/Visualizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Acciones</servlet-name>
        <url-pattern>/Acciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresoConsumos</servlet-name>
        <url-pattern>/IngresoConsumos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroConsumos</servlet-name>
        <url-pattern>/RegistroConsumos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarDetalleConsumo</servlet-name>
        <url-pattern>/ActualizarDetalleConsumo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroCuentaCobro</servlet-name>
        <url-pattern>/RegistroCuentaCobro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarDatosFacturacion</servlet-name>
        <url-pattern>/GuardarDatosFacturacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarDatosSoporte</servlet-name>
        <url-pattern>/GuardarDatosSoporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistroAdministrativo</servlet-name>
        <url-pattern>/RegistroAdministrativo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
